[run]
source = trafilatura

omit =
    tests/*
    setup.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    except .*ImportError.*:
    except .*UnicodeDecodeError.*:
    except .*urllib3.exceptions.*:
