[run]
source = trafilatura

omit =
    tests/*
    setup.py
    trafilatura/gui.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    except .*etree.XMLSyntaxError.*:
    except .*UnicodeDecodeError.*:
