# Compiled python modules.
*.pyc

# logs
*.log
*.txt

# packaging
dist/
build/
*.egg-info/

# tests
.tox/
.cache/
.coverage

# docs
docs/_autosummary/
docs/_build/
docs/_static/
docs/_template/

# profiling
*.tmp
*.lprof


### appvevor removed
appveyor.yml