include CITATION.cff CONTRIBUTING.md HISTORY.md README.rst LICENSE
graft trafilatura/data/
include trafilatura/settings.cfg
include trafilatura/py.typed

include tests/__init__.py
include tests/*test*.py
graft tests/resources/
exclude tests/realworld_tests.py
recursive-exclude tests/cache/

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
