include CITATION.cff CONTRIBUTING.md HISTORY.md README.rst LICENSE pytest.ini
graft trafilatura/data/
include trafilatura/settings.cfg

include tests/__init__.py
include tests/*test*.py
graft tests/resources/
exclude tests/realworld_tests.py
recursive-exclude tests/cache/

recursive-include docs/ conf.py Makefile make.bat *.rst *.gif *.jpg *.png
include docs/requirements.txt
recursive-include docs/_build/ *.gif *.jpg *.png

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
